<div class="app-main">  
    <app-nav-admi></app-nav-admi>
    <div class="app-main__outer">
       <div class="app-main__inner">  
            <app-title-page title="Guichet par agence" subTitle="Il sagit d'une recherche periodique pour les transaction guichet effectuer par une agence particulier." icons="pe-7s-search icon-gradient bg-mean-fruit"></app-title-page>         
           <div class="row">
               <div class="col-md-12">
                   <div class="main-card mb-3 card">
                       <div class="card-header" *ngIf="!recherche && ok">
                           Production de l'agence <span class="badge badge-success">{{ name }}</span>  <br><span  class="d-block d-sm-block d-md-none text-primary" (click)="recherche=true">Recherche</span>
                           <button class="btn btn-outline-dark btn-sm pull-right d-none d-md-block d-lg-block ml-5" (click)="onRecherche(); recherche=true">Recherche</button>
                       </div>
                       <div class="card-header" *ngIf="recherche">
                           Recherche
                       </div>
                       <div class="card-body" *ngIf="recherche">
                            <form [formGroup]="formControl" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Telphone Agence</label>
                                    <input type="text" class="form-control" formControlName="tel" id="exampleInputEmail1" [id]="getTelSuccess() ? 'successForm' : getTelError() ? 'errorForm' : ''" aria-describedby="emailHelp" placeholder="Agence">
                                    <span *ngIf="getTelError()" class="text text-danger"><small>{{ getTelError() }}</small></span>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Type</label>
                                    <select formControlName="type" class="form-control" id="exampleFormControlSelect1">
                                      <option value="tout">Tout</option>
                                      <option value="wester">Wester Union</option>
                                      <option value="wari">Wari</option>
                                      <option value="money">Money Gram</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="action">Action</label>
                                    <select formControlName="action" class="form-control" id="action">
                                      <option value="tout">Tout</option>
                                      <option value="1">Depot</option>
                                      <option value="2">Retrait</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="periode">Periode</label>
                                    <select formControlName="periode" class="form-control" id="periode">
                                        <option value="tout">Tout</option>
                                        <option value="day">Jour</option>
                                        <option value="week">Semmaine</option>
                                        <option value="month">Mois</option>
                                        <option value="year">Annee</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mot de passe</label>
                                    <input type="password" formControlName="password" class="form-control" [id]="getPasswordSuccess() ? 'successNotStyl' : getPasswordError() ? 'errorForm' : ''" id="exampleInputPassword1" placeholder="******">
                                    <span *ngIf="getPasswordError()" class="text text-danger"><small>{{ getPasswordError() }}</small></span>
                                    <span *ngIf="!passwordIncorect && !getPasswordError()" ><small class="text text-danger" id="red" >Mot de passe incorect</small></span>
                                
                                </div>
                                
                                <button type="Ajouter" [disabled]="formControl.invalid" class="btn btn-primary">Valider</button>
                            </form>
                        </div>

                        <div class="table-responsive" *ngIf="!recherche">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Action</th>
                                    <th class="text-center">Code</th>
                                    <th class="text-center">Montant</th>
                                    <th class="text-center">Telephone</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let guichet of collection.data |paginate: config">
                                        <td class="text-center"><span class="badge badge-info">{{ getType(guichet.type) }}</span></td>
                                        <td class="text-center"><span class="{{ getBadge(guichet.action) }}">{{ getAction(guichet.action) }}</span></td>
                                        <td class="text-center">{{ guichet.code }}</td>
                                        <td class="text-center">{{ guichet.montant | currency:'':'' }}</td>
                                        <td class="text-center">{{ guichet.tel }}</td>
                                        <td class="text-center">{{ guichet.description }}</td>
                                        <td class="text-center">{{ guichet.createdAt | date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                           </div>
                           <div class="d-block text-center card-footer" *ngIf="!recherche">
                                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </div>

                   </div>
               </div>
           </div>
        </div>
        <app-footer-admi></app-footer-admi>
    </div>
</div>