<div class="app-main">  
    <app-nav-admi></app-nav-admi>
    <div class="app-main__outer">
       <div class="app-main__inner">  
            <app-title-page title="Production guichet" subTitle="Ici il sagit de la liste des productions guichets de toute les agence concerner." icons="pe-7s-pendrive icon-gradient bg-mean-fruit"></app-title-page>         
           <div class="row">
               <div class="col-md-12">
                   <div class="main-card mb-3 card">
                       <div class="card-header">
                           {{ getType(type) }}
                       </div>
                       <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Nom & Prenom</th>
                                <th class="text-center">Action</th>
                                <th class="text-center">Code</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Montant</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Autorisation</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let guichet of collection.data |paginate: config">
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="widget-content-left">
                                                    <img width="40" class="rounded-circle" src="{{ print.printAdmi('') }}" alt="Image">
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading"> {{ guichet.user_id.name }}</div>
                                                <div class="widget-subheading opacity-7">{{ guichet.user_id.nameAgence }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center"><span class="{{ getBadge(guichet.action) }}">{{ getAction(guichet.action) }}</span></td>
                                <td class="text-center">{{ guichet.code }}</td>
                                <td class="text-center">{{ guichet.description }}</td>
                                <td class="text-center">{{ guichet.montant | currency:'':'' }}</td>
                                <td class="text-center">{{ guichet.createdAt | date }}</td>
                                <td class="text-center">
                                    <section class="example-section">
                                        <mat-slide-toggle (click)="changeAutorisation(guichet._id)"
                                            class="example-margin"
                                            [color]="color"
                                            [checked]="guichet.autorise == 0 ? false : true"
                                            [disabled]="disabled">
                                        </mat-slide-toggle>
                                    </section> 
                                </td>
                            </tr>
                            </tbody>
                        </table>
                       </div>
                       <div class="d-block text-center card-footer">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                   </div>
               </div>
           </div>
        </div>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-square-spin" [fullScreen] = "true"><p style="color: white" > Chargement... </p></ngx-spinner>
        <app-footer-admi></app-footer-admi>
    </div>
</div>