<div class="app-main">  
    <app-nav-admi></app-nav-admi>
    <div class="app-main__outer">
       <div class="app-main__inner">  
            <app-title-page title="Liste des promoteurs" subTitle="Il sagit de la liste de l'ensemble des promoteurs de toute les agence, ainsi que leur production, debit et solde." icons="pe-7s-map-2 icon-gradient bg-mean-fruit"></app-title-page>         
           <div class="row">
               <div class="col-md-12">
                   <div class="main-card mb-3 card">
                       <div class="card-header">
                           Promoteurs
                       </div>
                       <div class="table-responsive">
                           <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                               <thead>
                               <tr>
                                   <th>Name</th>
                                   <th class="text-center">Agence</th>
                                   <th class="text-center">Telephone</th>
                                   <th class="text-center">Email</th>
                                   <th class="text-center">Solde</th>
                                   <th class="text-center">Production</th>
                                   <th class="text-center">Debit</th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr *ngFor="let user of collection.data |paginate: config">
                                   <td>
                                       <div class="widget-content p-0">
                                           <div class="widget-content-wrapper">
                                               <div class="widget-content-left mr-3">
                                                   <div class="widget-content-left">
                                                       <img width="40" class="rounded-circle" src="{{ print.printAdmi('') }}" alt="Image">
                                                   </div>
                                               </div>
                                               <div class="widget-content-left flex2">
                                                   <div class="widget-heading">{{ user.name }}</div>
                                                   <div class="widget-subheading opacity-7">{{ user.adress }}</div>
                                               </div>
                                           </div>
                                       </div>
                                   </td>
                                   <td class="text-center">{{ user.nameAgence }}</td>
                                   <td class="text-center">{{ user.tel }}</td>
                                   <td class="text-center">{{ user.email }}</td>
                                   <td class="text-center"> <span class="badge badge-success">{{ getPromoteurs(user._id).sumPromoteurEntrer + getPromoteurs(user._id).montantSoldActuel - getPromoteurs(user._id).sumPromoteurSortie - getPromoteurs(user._id).montantSoldSortie| currency:'':'' }}</span></td>
                                   <td class="text-center"><a [routerLink]="['../production-promoteur-admi', user._id]" class="btn btn-outline-primary btn-sm">voir</a></td>
                                   <td class="text-center"><a [routerLink]="['../list-debit-promoteur-admi', user._id]" class="btn btn-outline-primary btn-sm">voir</a></td>
                               </tr>
                               </tbody>
                           </table>
                       </div>
                       <div class="d-block text-center card-footer">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                   </div>
               </div>
           </div>
        </div>
        <app-footer-admi></app-footer-admi>
    </div>
</div>