<form [formGroup]="updatePassword" (ngSubmit)="onUpdatePassword()">
    <div class="form-group">
        <label for="exampleInputPassword1">Encient Mot de passe</label>
        <input type="password" [id]="getPasswordEncientSuccess() ? 'successForm' : getPasswordEncientError() ? 'errorForm' : ''" class="form-control" formControlName="passwordEncien" id="exampleInputPassword1" placeholder="Saisir l'encient">
        <span *ngIf="getPasswordEncientError()" class="text text-danger form-text text-muted"><small>{{ getPasswordEncientError() }}</small></span>
        <!-- <span *ngIf="!passwordIncorect && !getPasswordError()" class="text text-danger form-text text-muted"><small>Mot de passe incorect</small></span> -->
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Nouveaux Mot de passe</label>
        <input type="password" [id]="getPasswordNewSuccess() ? 'successForm' : getPasswordNewError() ? 'errorForm' : ''" class="form-control" formControlName="passwordNew" id="exampleInputPassword1" placeholder="Saisir le nouveaux">
        <span *ngIf="getPasswordNewError()" class="text text-danger form-text text-muted"><small>{{ getPasswordNewError() }}</small></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirmer Mot de passe</label>
        <input type="password" [id]="getPasswordConfirmSuccess() ? 'successForm' : getPasswordConfirmError() ? 'errorForm' : ''" class="form-control" formControlName="passwordConfirm" id="exampleInputPassword1" placeholder="Confirmation">
        <span *ngIf="getPasswordConfirmError()" class="text text-danger form-text text-muted"><small>{{ getPasswordConfirmError() }}</small></span>
        <div *ngIf="getPasswordConfirmSuccess()" class="text text-danger">
            <small class="text-danger" *ngIf="this.updatePassword.errors?.errorPassword && (this.updatePassword.touched || this.updatePassword.dirty)">
                Mot de passe non concordant
            </small>
        </div>
    </div>
    <button type="submit" [disabled]="updatePassword.invalid" class="btn btn-primary">Valider</button>
</form>