<div class="app-main">
    <div class="app-sidebar sidebar-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button>
            </span>
        </div>    
        <div class="scrollbar-sidebar">
            <div class="app-sidebar__inner">
                <ul class="vertical-nav-menu">
                    <li class="app-sidebar__heading">Tableaux de bord</li>
                    <li>
                        <a [routerLink]="['/admi/home']" routerLinkActive="router-link-active"  class="mm-active">
                            <i class="metismenu-icon pe-7s-home"></i>
                            
                            Acceuille
                        </a>
                    </li>
                    <li class="app-sidebar__heading">Client</li>
                    <li>
                        <a [routerLink]="['/admi/list-client']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-users"></i>
                            Liste
                        </a>
                    </li>
                    
                    <li class="app-sidebar__heading">Commandes</li>
                    <li>
                        <a [routerLink]="['/admi/commandes-list/total', 'total']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-cart"></i>
                            Total
                        </a>
    
                        <a [routerLink]="['/admi/commandes-list/total', 'day']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-cart"></i>
                            Aujourd'hui
                        </a>
    
                        <a [routerLink]="['/admi/commandes-list/total', 'week']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-cart"></i>
                            Semmaine
                        </a>
                        <a [routerLink]="['/admi/commandes-list/total', 'month']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-cart"></i>
                            Mois
                        </a>
                        <a [routerLink]="['/admi/commandes-list/total', 'year']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-cart"></i>
                            Annee
                        </a>
                    </li>
                    <li class="app-sidebar__heading">GUICHETS</li>
                    <li>
                        <a [routerLink]="['/admi/guichet']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-plus">
                            </i>Attribution    
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admi/guichet-list']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-eyedropper">
                            </i>Liste Attribution
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admi/guichet-list-production', 'wari']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-pendrive">
                            </i>Production Wari
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admi/guichet-list-production', 'wester']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-pendrive">
                            </i>Production Wester Union
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/admi/guichet-list-production', 'money']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-pendrive">
                            </i>Production Money Gram
                        </a>
                    </li>
                    <li class="app-sidebar__heading">Promoteurs</li>
                    <li>
                        <a [routerLink]="['/admi/promoteur-list']" routerLinkActive="router-link-active" >
                            <i class="metismenu-icon pe-7s-map-2">
                            </i>Liste
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 
    <div class="js-ng-admi">
        
    </div>
    <div class="app-main__outer">
        <div class="app-main__inner">
            <!-- <link rel="stylesheet" href="../../../assets/admi/main.css"> -->
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <!-- <i class="pe-7s-car icon-gradient bg-mean-fruit" *ngIf="!image">
                            </i> -->
                            <i class="{{ icons }}"></i>
                        </div>
                        <div>
                            Guide d'utilisation 
                            <!-- //This is an example dashboard created using build-in elements and components -->
                            <div class="page-title-subheading">
                                Ici
                            </div>
                        </div>
                    </div>
                <div class="page-title-actions">
                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                        <i class="fa fa-star"></i>
                    </button>
                    <div class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>
                            Trouver?
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                            
                                <li class="nav-item" class="d-block d-sm-block d-md-none">
                                    <a [routerLink]="['/admi/elemennts-notification']" routerLinkActive="router-link"  class="nav-link">
                                        <i class="nav-link-icon lnr-book"></i>
                                        <span>
                                            Notification
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admi/commande-recherche-by-agence']" routerLinkActive="router-link-active"  class="nav-link">
                                        <i class="nav-link-icon lnr-picture"></i>
                                        <span>
                                            Commande par agence
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admi/commande-recherche-by-client']" routerLinkActive="router-link-active"  class="nav-link">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            Commande par client
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admi/guichet-by-agence']" routerLinkActive="router-link-active"  class="nav-link">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            Guichet par agence
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admi/guichet-by-code']" routerLinkActive="router-link-active"  class="nav-link">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            Guichet par code
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admi/production-promoteur-by-date']" routerLinkActive="router-link-active"  class="nav-link">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            Production promoteur
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
                </div>
            </div>
            <div class="row">
                
            </div>
        </div> 
        <div class="app-wrapper-footer">
            <div class="app-footer">
                <div class="app-footer__inner">
                    <div class="app-footer-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    Copyright © 2019. All rights reserved. Developer par KANA BAH
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="app-footer-right">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <div class="badge badge-success mr-1 ml-0">
                                        <small>CONTACT</small>
                                    </div>
                                    622 37 23 45
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>