    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a routerLink="/"><img class="main-logo" style="width: 100px;" src="assets/user/img/logo/abf.jpeg" alt="" /></a>
                <strong><a routerLink="/"><img src="assets/user/img/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar" id="overflow">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li class="active">
                            <a  routerLink="/">
                                <span class="mini-click-non"><span class="educate-icon educate-home icon-wrap"></span>Home</span>
							</a>
                        </li>

                        <li>
                            <a class="has-arrow" data-toggle="collapse" data-target="#demoevent" ><span class="educate-icon educate-professor icon-wrap"></span>Client <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                            <ul id="demoevent" class="collapse dropdown-header-top">
                                <li><a title="Ajout Client" [routerLink]="['/client/add']" routerLinkActive="router-link-active">Ajout</a>
                                </li>
                                <li><a title="Liste des clients" [routerLink]="['/client/all']" routerLinkActive="router-link-active">Liste</a>
                                </li>
                            </ul>
                        </li>
                        
                        <!-- DEBUT TESTE SI C'EST UN PROMOTEUR -->
                        <div *ngIf="userService.getUserDetails().role == 'promoteur'">
                            <li>
                                <a class="" [routerLink]="['/promoteur/list/enter']"    aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Liste Entrer</span></a>
                            </li>

                            <li>
                                <a class="" [routerLink]="['/promoteur/list/sortie']"    aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Liste Sortie</span></a>
                            </li>

                            <li>
                                <a class="" [routerLink]="['/promoteur/list/enterJour']"    aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Liste Entrer Jour</span></a>
                            </li>

                            <li>
                                <a class="" [routerLink]="['/promoteur/list/sortieJour']"    aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Liste Sortie Jour</span></a>
                            </li>

                            <li>
                                <a class="" [routerLink]="['/promoteur/list/debit']"    aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Liste Debit</span></a>
                            </li>
                        </div>
                        <!-- FIN TESTE SI C'EST UN PROMOTEUR -->
                        
                        <!-- DEBUT TESTE SI C'EST UN UTILISATEUR -->
                        <div *ngIf="userService.getUserDetails().role == 'user'">
                                            
                            <li><a class="has-arrow" data-toggle="collapse" data-target="#demopro" ><span class="educate-icon educate-professor icon-wrap"></span>Commandes <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demopro" class="collapse dropdown-header-top">
                                    <li><a title="La liste de toute les Commandes" [routerLink]="['/client/commandes/all']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Liste</span></a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li>
                                <a class="has-arrow" data-toggle="collapse" data-target="#democrou" ><span class="educate-icon educate-professor icon-wrap"></span>Credit <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="democrou" class="collapse dropdown-header-top">
                                    <li><a title="La liste de toute les Commandes" [routerLink]="['/client/commandes/credit/', 'today']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Jour</span></a></li>
                                    <li><a title="La liste de toute les Commandes" [routerLink]="['/client/commandes/credit/', 'week']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Semmaine</span></a></li>
                                    <li><a title="La liste de toute les Commandes" [routerLink]="['/client/commandes/credit/', 'month']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Mois</span></a></li>
                                    <li><a title="La liste de toute les Commandes" [routerLink]="['/client/commandes/credit/', 'year']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Annee</span></a></li>
                                    <li><a title="La liste de toute les Commandes" [routerLink]="['/client/commandes/credit/', 'all']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Total</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a class="has-arrow" data-toggle="collapse" data-target="#promoteurNav" ><span class="educate-icon educate-professor icon-wrap"></span>Promoteur <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="promoteurNav" class="collapse dropdown-header-top">
                                    <li><a title="Les Promoteurs" [routerLink]="['/promoteur/list']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Liste</span></a></li>
                                    <li><a title="Les Promoteurs" [routerLink]="['/promoteur/attribute-espece']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Attribution</span></a></li>
                                    <li><a title="Les Promoteurs" [routerLink]="['/promoteur/production-periode']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Production</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a class="has-arrow" data-toggle="collapse" data-target="#guichetNav" ><span class="educate-icon educate-professor icon-wrap"></span>Guichet <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="guichetNav" class="collapse dropdown-header-top">
                                    <li><a title="Les Promoteurs" [routerLink]="['/guichet/transaction']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Transaction</span></a></li>
                                    <li><a title="Les Promoteurs" [routerLink]="['/guichet/transaction/list', 'wari']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Warie</span></a></li>
                                    <li><a title="Les Promoteurs" [routerLink]="['/guichet/transaction/list', 'wester']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Wester Union</span></a></li>
                                    <li><a title="Les Promoteurs" [routerLink]="['/guichet/transaction/list', 'money']" routerLinkActive="router-link-active"  ><span class="mini-sub-pro">Money Gram</span></a></li>
                                </ul>
                            </li>

                            <!-- <li>
                                <a  class="has-arrow"data-toggle="collapse" data-target="#demolibra" ><span class="educate-icon educate-professor icon-wrap"></span>Cmds Periode <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demolibra" class="collapse dropdown-header-top"> -->
                                    <li>
                                        <a class="" [routerLink]="['/client/periodeCommande', 'today']"    aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Cmds Aujourd'hui</span></a>
                                        
                                    </li>
                                    <li>
                                        <a class="" [routerLink]="['/client/periodeCommande', 'week']"   aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Cmds Semmaine</span></a>
                                        
                                    </li>
                                    <li>
                                        <a class="" [routerLink]="['/client/periodeCommande', 'ceMois']"   aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Cmds Mois</span></a>
                                        
                                    </li>
                                    <li>
                                        <a class="" [routerLink]="['/client/periodeCommande', 'year']"   aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Cmds Annee</span></a>
                                        
                                    </li>
                                    <li>
                                        <a class="" [routerLink]="['/client/periodeCommande', 'all']"   aria-expanded="false"> <span class="mini-click-non"><span class="educate-icon educate-professor icon-wrap"></span>Cmds Total</span></a>
                                        
                                    </li>
                                </div>
                            <!-- </ul>
                        </li> -->
                        
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a [routerLink]="['/']" routerLinkActive="router-link-active" ><img class="main-logo" id="logoAbf" src="assets/user/img/logo/abf.jpeg" alt="logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="educate-icon educate-nav"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav ">
                                                <li class="nav-item"><a routerLink="/" class="nav-link">Home</a>
                                                </li>
                                                <li class="nav-item"><a routerLink="/" class="nav-link">A propos</a>
                                                </li>
                                                <li class="nav-item"><a routerLink="/" class="nav-link">Support</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-message edu-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                        <div class="message-single-top">
                                                            <h1>Message</h1>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="educate-icon educate-bell" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                                    <div role="menu" class="notification-author dropdown-menu animated zoomIn">
                                                        <div class="notification-single-top">
                                                            <h1>Notifications</h1>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<img src="assets/user/img/avatar/men.png" alt="" />
															<span class="admin-name">{{ userService.getUserDetails().name }}</span>
															<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <!-- <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>My Account</a>
                                                        </li> -->
                                                        <li><a [routerLink]="['user/profile']" routerLinkActive="router-link-active" ><span class="edu-icon edu-user-rounded author-log-ic"></span>Mon Profilr</a>
                                                        </li>
                                                        <!-- <li><a href="#"><span class="edu-icon edu-money author-log-ic"></span>User Billing</a>
                                                        </li>
                                                        <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Settings</a>
                                                        </li> -->
                                                        <li><a (click)="logout()"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>reorder</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">

                                        <button mat-menu-item [routerLink]="['/']" >
                                          <mat-icon>home</mat-icon>
                                          <span>Home</span>
                                        </button>

                                        <button mat-menu-item [routerLink]="['/client/add']" routerLinkActive="router-link-active" >
                                          <mat-icon>group_add</mat-icon>
                                          <span>Ajout Client</span>
                                        </button>

                                        <button mat-menu-item [routerLink]="['/client/all']" routerLinkActive="router-link-active" >
                                          <mat-icon>person_pin</mat-icon>
                                          <span>Liste Client</span>
                                        </button>

                                        <button mat-menu-item [routerLink]="['/client/all']" routerLinkActive="router-link-active" >
                                          <mat-icon>person_pin</mat-icon>
                                          <span>Liste Client</span>
                                        </button>

                                        <!-- DEBUT TEST SI C'EST UN UTILISATEUR QUI CE CONNECTE -->
                                        <div *ngIf="userService.getUserDetails().role == 'user'"> 
                                            
                                            <button mat-menu-item [routerLink]="['/client/commandes/all']" routerLinkActive="router-link-active" >
                                            <mat-icon>local_grocery_store</mat-icon>
                                            <span>Liste Commandes</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/commandes/credit/today']" routerLinkActive="router-link-active" >
                                            <mat-icon>shuffle</mat-icon>
                                            <span>Credit jour</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/commandes/credit/week']" routerLinkActive="router-link-active" >
                                            <mat-icon>shuffle</mat-icon>
                                            <span>Credit Semaine</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/commandes/credit/month']" routerLinkActive="router-link-active" >
                                            <mat-icon>shuffle</mat-icon>
                                            <span>Credit Mois</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/commandes/credit/year']" routerLinkActive="router-link-active" >
                                            <mat-icon>shuffle</mat-icon>
                                            <span>Credit Annee</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/commandes/credit/all']" routerLinkActive="router-link-active" >
                                            <mat-icon>shuffle</mat-icon>
                                            <span>Credit Total</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/periodeCommande/today']" routerLinkActive="router-link-active" >
                                            <mat-icon>graphic_eq</mat-icon>
                                            <span>Commandes Jour</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/periodeCommande/week']" routerLinkActive="router-link-active" >
                                            <mat-icon>graphic_eq</mat-icon>
                                            <span>Commandes Semmaine</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/periodeCommande/ceMois']" routerLinkActive="router-link-active" >
                                            <mat-icon>graphic_eq</mat-icon>
                                            <span>Commandes Mois</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/periodeCommande/year']" routerLinkActive="router-link-active" >
                                            <mat-icon>graphic_eq</mat-icon>
                                            <span>Commandes Annee</span>
                                            </button>
                                            <button mat-menu-item [routerLink]="['/client/periodeCommande/all']" routerLinkActive="router-link-active" >
                                            <mat-icon>graphic_eq</mat-icon>
                                            <span>Commandes Total</span>
                                            </button>
                                        
                                        </div>
                                      </mat-menu>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
           
        </div>
        
        
    </div>
    <div class="js-ng-header">
        
    </div>