<div class="all-content-wrapper">

    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <!-- [formGroup]="controlForm" (ngSubmit)="onRecherhe()" -->
                                        <form role="search" [formGroup]="controlForm" (ngSubmit)="onRecherhe()"  class="sr-input-func">
                                            <input type="text" formControlName="recherche" [id]="border == true ? 'border' : ''" placeholder="Recherche client..." class="search-int form-control">
                                            <a href="#" class="not-active" type="submit"><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li><a href="#">{{ home }}</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">{{ title }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>