<!-- <link rel="stylesheet" href="../assets/user/style.css"> -->
<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>
<app-header-user *ngIf="userService.isLoggedIn() && (userService.getUserDetails().role == 'user' || userService.getUserDetails().role == 'promoteur')"></app-header-user>
<app-header-admi *ngIf="userService.isLoggedIn() && (userService.getUserDetails().role == 'admi')"></app-header-admi>
<router-outlet></router-outlet>

<app-footer-user *ngIf="userService.isLoggedIn() && (userService.getUserDetails().role != 'admi')" ></app-footer-user>