<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="content-error">
				<h1>Server Error <span class="counter"> 500</span></h1>
				<p>The server encountered something unexpected that didn't allow it to complete the request. We apologize.</p>
				<a routerLink="/">Dashboard</a>
				<a href="#">Report Problem</a>
			</div>
			<div class="text-center login-footer">
				<p>Copyright © 2019. Developper par KANA BAH- <strong class="text-primary"> 622372345</strong></p>
			</div>
		</div>   
    </div>