<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form [formGroup]="payForm" (ngSubmit)="onTransfert()">
            <div class="form-group">
                <label for="tel">Numero Telephone</label>
                <input type="text" [id]="getTelTransfertSuccess() ? 'successForm' : getTelTransfertError() ? 'errorForm' : ''" formControlName="telTransfert" class="form-control" id="tel"  placeholder="Numero Telephone Client">
                <span *ngIf="getTelTransfertError()" class="text text-danger form-text text-muted"><small>{{ getTelTransfertError() }}</small></span>
            </div>
            <div formGroupName="commandes">
                <div class="form-group">
                    <label for="somCredit">Montant</label>
                    <input type="text" [id]="getSomCreditSuccess() ? 'successForm' : getSomCreditError() ? 'errorForm' : ''" class="form-control" id="somCredit" formControlName="somCredit" placeholder="Montant a verser">
                    <span *ngIf="getSomCreditError()" class="text text-danger form-text text-muted"><small>{{ getSomCreditError() }}</small></span>
                </div>
            </div>
            <div class="form-group" >
                <label for="somDoit">Mot de passe</label>
                <input type="password" [id]="getPasswordSuccess() ? 'successForm' : getPasswordError() ? 'errorForm' : ''" class="form-control" id="somDoit" formControlName="password" placeholder="Confirmer avec votre mot de passe">
                <span *ngIf="getPasswordError()" class="text text-danger form-text text-muted"><small>{{ getPasswordError() }}</small></span>
                <span *ngIf="!passwordIncorect && !getPasswordError()" class="text text-danger form-text text-muted"><small>Mot de passe incorect</small></span>
            </div>
            
            <button type="submit" [disabled]="payForm.pending || payForm.invalid  || !etatPadding" class="btn btn-primary" id="ng-btn">{{ !etatPadding ? 'Patienter...': 'Valider'}}</button>
            <button type="button" (click)="dialogRef.close()"  class="btn btn-default">Annuler</button>
        </form>
    </div>
  </div>