<div class="card" style="width: 18rem;">
    <!-- <div class="card-header" *ngIf="ok">
        <h5 class="card-title" >
            <img src="assets/user/img/contact/1.jpg"  id="rounded-circle" alt="Profile"><span id="nom">{{ nom }}</span>
            <span class="float-right text-muted text-danger"  id="custAlign">50000GNF</span>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ commune }}/{{ quartier }}/{{ secteur }}</h6>
        <hr>
    </div> -->
    <div class="card-body" *ngIf="commande">
        <form [formGroup]="payForm" (ngSubmit)="onUpdate()">
            
            <div formGroupName="commandes">
                <div class="form-group">
                    <label for="ModePayemnt">Mode Payement</label>
                <select class="form-control" id="ModePayemnt" formControlName="modePay">
                    <option value="Cache">Cache</option>
                    <option value="OM">Orange Money</option>
                    <option value="MoMo">Mobile Money</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="typePayement">Type Payement</label>
                    <select class="form-control" (change)="select($event)" id="typePayement" formControlName="typePay">
                        <option value="Total">Total</option>
                        <option value="Tranche">Tranche</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="commande.typeCmd == 'Transfert'">
                    <label for="opperateur">Opperateur</label>
                    <select class="form-control" id="opperateur" formControlName="opperateur">
                        <option value="Choisir" disabled>Choisir L'operateur</option>
                        <option value="Orange">Orange</option>
                        <option value="MTN">NTN</option>
                        <option value="Celcom">Celcom</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="commande.typeCmd == 'ST'">
                    <label for="nbStartTimes">Nombre</label>
                    <input type="text" [id]="getNbStartTimesSuccess() ? 'successForm' : getNbStartTimesError() ? 'errorForm' : ''" formControlName="nbStartTimes"  class="form-control" id="somPay" placeholder="Nombre des decodeurs">
                    <span *ngIf="getNbStartTimesError()" class="text text-danger form-text text-muted"><small>{{ getNbStartTimesError() }}</small></span>
                </div>

                <div class="form-group" *ngIf="ngSomPay">
                    <label for="somPay">Montant A Payer</label>
                    <input type="text" [id]="getSomPaySuccess() ? 'successForm' : getSomPayError() ? 'errorForm' : ''" formControlName="somPay"  class="form-control" id="somPay" placeholder="Somme a payer">
                    <span *ngIf="getSomPayError()" class="text text-danger form-text text-muted"><small>{{ getSomPayError() }}</small></span>
                </div>
                <div class="form-group" id="t" *ngIf="ngSomRest">
                    <label for="somRest">Montant Restant</label>
                    <input type="text" [id]="getSomRestSuccess() ? 'successForm' : getSomRestError() ? 'errorForm' : ''" class="form-control" id="somRest" formControlName="somRest" placeholder="Somme a payer">
                    <span *ngIf="getSomRestError()" class="text text-danger form-text text-muted"><small>{{ getSomRestError() }}</small></span>
                </div>
                <div class="form-group" *ngIf="ngSomCredit">
                    <label for="somCredit">Montant A Credit</label>
                    <input type="text" [id]="getSomCreditSuccess() ? 'successForm' : getSomCreditError() ? 'errorForm' : ''" class="form-control" id="somCredit" formControlName="somCredit" placeholder="Somme a payer">
                    <span *ngIf="getSomCreditError()" class="text text-danger form-text text-muted"><small>{{ getSomCreditError() }}</small></span>
                </div>
            </div>
            <div class="form-group" >
                <label for="somDoit">Mot de passe</label>
                <input type="password" [id]="getPasswordSuccess() ? 'successForm' : getPasswordError() ? 'errorForm' : ''" class="form-control" id="somDoit" formControlName="password" placeholder="Confirmer avec votre mot de passe">
                <span *ngIf="getPasswordError()" class="text text-danger form-text text-muted"><small>{{ getPasswordError() }}</small></span>
                <span *ngIf="!passwordIncorect && !getPasswordError()" class="text text-danger form-text text-muted"><small>Mot de passe incorect</small></span>
            </div>
            
            <button type="submit" [disabled]="payForm.invalid || !etatPadding" class="btn btn-primary" id="ng-btn">{{ !etatPadding ? 'Patienter...': 'Valider'}}</button>
            <button type="button" (click)="dialogRef.close()"  class="btn btn-default">Annuler</button>
        </form>
    </div>
  </div>