<div class="app-main">  
    <app-nav-admi></app-nav-admi>
    <div class="app-main__outer">
       <div class="app-main__inner">  
            <app-title-page></app-title-page>         
           <div class="row">
               <div class="col-md-12">
                   <div class="main-card mb-3 card">
                       <div class="card-header" *ngIf="!recherche">
                           Productions <br><span  class="d-block d-sm-block d-md-none text-primary" (click)="onRecherche()">Recherche</span>
                           <button class="btn btn-outline-dark btn-sm pull-right d-none d-md-block d-lg-block ml-5" (click)="onRecherche(); recherche=true">Recherche</button>
                       </div>
                       <div class="card-header" *ngIf="recherche">
                           Recherche
                       </div>
                       <div class="card-body" *ngIf="recherche">
                            <form [formGroup]="formControl" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Telphone</label>
                                    <input type="text" class="form-control" formControlName="tel" id="exampleInputEmail1" [id]="getTelSuccess() ? 'successForm' : getTelError() ? 'errorForm' : ''" aria-describedby="emailHelp" placeholder="Telphone Promoteur">
                                    <span *ngIf="getTelError()" class="text text-danger"><small>{{ getTelError() }}</small></span>
                                </div>

                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" formControlName="date" [id]="getDateSuccess() ? 'successForm' : geDateError() ? 'errorForm' : ''" id="date">
                                    <span *ngIf="geDateError()" class="text text-danger"><small>{{ geDateError() }}</small></span>
                                </div>

                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select formControlName="type" class="form-control" id="type">
                                        <option value="tout">Tout</option>
                                        <option value="entrer">Entrer</option>
                                        <option value="sortie">Sortie</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mot de passe</label>
                                    <input type="password" formControlName="password" class="form-control" [id]="getPasswordSuccess() ? 'successNotStyl' : getPasswordError() ? 'errorForm' : ''" id="exampleInputPassword1" placeholder="******">
                                    <span *ngIf="getPasswordError()" class="text text-danger"><small>{{ getPasswordError() }}</small></span>
                                    <span *ngIf="!passwordIncorect && !getPasswordError()" ><small class="text text-danger" id="red" >Mot de passe incorect</small></span>
                                
                                </div>
                                
                                <button type="Ajouter" [disabled]="formControl.invalid" class="btn btn-primary">Valider</button>
                            </form>
                        </div>

                        <div class="table-responsive" *ngIf="!recherche">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Nom & Prenom</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Montant</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let promoteur of collection.data |paginate: config">
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                    <div class="widget-content-left">
                                                        <img width="40" class="rounded-circle" src="{{ print.printAvatar(promoteur.client_id.avatar) }}" alt="Image">
                                                    </div>
                                                </div>
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading"> {{ promoteur.client_id.nom }} {{ promoteur.client_id.prenom }}</div>
                                                    <div class="widget-subheading opacity-7">{{ promoteur.client_id.telPerso }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center"><span class="badge badge-success">{{ promoteur.type }}</span></td>
                                    <td class="text-center">{{ promoteur.montant | currency:'':'' }}</td>
                                    <td class="text-center">{{ promoteur.description }}</td>
                                    <td class="text-center">{{ promoteur.createdAt | date }}</td>
                                </tr>
                                </tbody>
                            </table>
                           </div>
                        <div class="d-block text-center card-footer" *ngIf="!recherche">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>

                   </div>
               </div>
           </div>
        </div>
        <app-footer-admi></app-footer-admi>
    </div>
</div>