<div class="app-main">
    <app-nav-admi></app-nav-admi>
    <div class="app-main__outer">
        <div class="app-main__inner">
            <app-title-page></app-title-page>            
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body"><h5 class="card-title">Information &amp; Notification</h5>
                            <div class="row">
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item-header nav-item">Activité</li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer">Entrer promoteur
                                            <div class="ml-auto badge badge-pill badge-info">{{ nbEntrerPromoteur }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer">Sortie promoteur
                                            <div class="ml-auto badge badge-pill badge-info">{{ nbSortiePromoteur }}</div>
                                        </a></li>
                                        <li class="nav-item-header nav-item">Guichets Aujourd'hui</li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer">Wester Union
                                            <div class="ml-auto badge badge-success">{{ countWesterDay }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer">Money Gram
                                            <div class="ml-auto badge badge-success">{{ countMoneyDay }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer">Wari
                                            <div class="ml-auto badge badge-success">{{ countWariDay }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer">Total
                                            <div class="ml-auto badge badge-danger">{{ countWariDay + countMoneyDay + countWesterDay }}</div>
                                        </a></li>
                                        <!-- <li class="nav-item-divider nav-item"></li>
                                        <li class="nav-item-btn nav-item">
                                            <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item-header nav-item">Activité</li>
                                        <li class="nav-item"><a [routerLink]="['/admi/elemennts-notification/new-users']" routerLinkActive="router-link-active"  class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i><span>Nouveaux Utilisateur</span>
                                            <div class="ml-auto badge badge-pill badge-info">{{ newUsers.length }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer"><i class="nav-link-icon pe-7s-wallet"> </i><span>Renitialisation Mot De Passe</span></a></li>
                                        <li class="nav-item-header nav-item">Commandes Aujourd'hui</li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer"><i class="nav-link-icon pe-7s-config"> </i><span>Orange Money</span>
                                            <div class="ml-auto badge badge-success">{{ nbCommandeOM}}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer"><i class="nav-link-icon pe-7s-coffee"> </i><span>Mobile Money</span>
                                            <div class="ml-auto badge badge-warning">{{ nbCommandeMoMo }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer"><i class="nav-link-icon pe-7s-coffee"> </i><span>Rechargement</span>
                                            <div class="ml-auto badge badge-warning">{{ nbCommandeTransfert }}</div>
                                        </a></li>
                                        <li class="nav-item"><a href="javascript:void(0);" class="nav-link" id="pointer"><i class="nav-link-icon pe-7s-coffee"> </i><span>Start Times</span>
                                            <div class="ml-auto badge badge-warning">{{ nbCommandeST }}</div>
                                        </a></li>
                                        <!-- <li class="nav-item-divider nav-item"></li>
                                        <li class="nav-item-btn nav-item">
                                            <button class="btn-pill btn btn-success btn-sm">Save</button>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="divider"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <app-footer-admi></app-footer-admi>
      </div>
</div>