<!-- DEBUT HOME_AGENCE -->
<div *ngIf="userService.getUserDetails().role == 'user'">
    <!-- ====================START SEARCH========================== -->
<app-search-bar home="Home" title="Tableaux De Bord"></app-search-bar>

<!-- ===================END SEARCH========================================== -->
<div class="all-content-wrapper" *ngIf="infoTotal">
  
    <div class="analytics-sparkle-area">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30">
                            <div class="analytics-content">
                                <h5>Orange Money<small>(GNF)</small></h5>
                                <h2><span >{{ infoTotal['sumTotalOM'] | currency:'':'' }}</span><span></span> <span class="tuition-fees"><button type="button" (click)="openDialog()" class="btn btn-custon-two btn-primary btn-xs">Ajout</button></span></h2>
                                <span class="text-{{ alertOM }}">{{ infoTotal['pourcentOM'] }}%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-{{ alertOM }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentOM']"> <span class="sr-only">20% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30">
                            <div class="analytics-content">
                                <h5>Mobile Money <small>(GNF)</small></h5>
                                <h2><span>{{ infoTotal['sumTotalMoMo'] | currency:'':'' }}</span> <span class="tuition-fees"><button type="button" (click)="openDialogMoMo()" class="btn btn-custon-two btn-primary btn-xs">Ajout</button></span></h2>
                                <span class="text-{{ alertMoMo }}">{{ infoTotal['pourcentMoMo'] }}%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-{{ alertMoMo }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentMoMo']"> <span class="sr-only">230% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">
                                <h5>Start Times<small>(GNF)</small></h5>
                                <h2><span>{{ infoTotal['sumTotalST'] | currency:'':'' }}</span><span class="tuition-fees"><button type="button" (click)="openStartTimes()" class="btn btn-custon-two btn-primary btn-xs">Ajout</button></span></h2>
                                <span class="text-{{ alertST }}">{{ infoTotal['pourcentST'] }}%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-{{ alertST }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentST']"> <span class="sr-only">20% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                            <div class="analytics-content">
                                <h5>Rechargement Espece<small>(GNF)</small></h5>
                                <h2><span>{{ infoTotal['sumTotalTransfert'] | currency:'':'' }}</span> <span class="tuition-fees"><button type="button" (click)="openTransfert()" class="btn btn-custon-two btn-primary btn-xs">Ajout</button></span></h2>
                                <span class="text-{{ alertTransfert }}">{{ infoTotal['pourcentTransfert'] }}%</span>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-{{ alertTransfert }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentTransfert']"> <span class="sr-only">230% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="courses-area mg-b-15" id="decal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">Status de l'Agence</h3>
                        <ul class="basic-list">
                            <li>Total Client <span class="pull-right label-danger label-1 label">{{ infoTotal['nbClients'] }}</span></li>
                            <li>Total Credit OM<span class="{{ colorCreditOM }}">{{ infoTotal['sumCreditOM'] | currency:'':'' }}GNF</span></li>
                            <li>Total Credit MoMo <span class="{{ colorCreditMoMo }}">{{ infoTotal['sumCreditMoMo'] | currency:'':'' }}GNF</span></li>
                            <li>Total Credit Start Times <span class="{{ colorCreditST }}">{{ infoTotal['sumCreditST'] | currency:'':'' }}GNF</span></li>
                            <li>Total Credit Espece <span class="{{ colorCreditTransfert }}">{{ infoTotal['sumCreditTransfert'] | currency:'':'' }}GNF</span></li>
                            <li>Total Debit Client <span class="pull-right label-purple label-6 label">A faire</span></li>
                            <li>Total Caisse <span class="pull-right label-purple label-7 label">{{ infoTotal['total'] | currency:'':'' }}GNF</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="white-box res-mg-t-30 table-mg-t-pro-n">
                        <h3 class="box-title">Entrer Caisse</h3>
                        <ul class="country-state">
                            <li [routerLink]="['/client/periodeCommande', 'today']">
                                <h2><span class="">{{ infoTotal['sumEntrerJour'] | currency:'':'' }}</span> <small>GNF</small></h2> <small>Aujaurdh'hui</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdDay'] }} cmds <i class="{{ arowDay }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentDay}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdDay']"> <span class="sr-only">75% Complete</span></div>
                                </div>
                                <!-- <hr> -->
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'week']">
                                <h2><span class="">{{ infoTotal['sumEntrerWeek'] | currency:'':'' }}</span> <small>GNF</small></h2> <small>Cette Semmaine</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdWeek'] }} cmds <i class="{{ arowWeek }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentWeek}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdWeek']"> <span class="sr-only">55% Complete</span></div>
                                </div>
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'ceMois']" routerLinkActive="router-link-active" >
                                <h2><span class="">{{ infoTotal['sumEntrerMonth'] | currency:'':'' }}</span> <small>GNF</small></h2> <small>Cet Mois</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdMonth'] }} cmds<i class="{{ arowMonth }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentMonth}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdMonth']"> <span class="sr-only">33% Complete</span></div>
                                </div>
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'year']">
                                <h2><span>{{ infoTotal['sumEntrerYear'] | currency:'':'' }}</span> <small>GNF</small></h2> <small>L'Annee</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdYear'] }} cmds <i class="{{ arowYear }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentYear}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdYear']"> <span class="sr-only">60% Complete</span></div>
                                </div>
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'all']">
                                <h2><span>{{ infoTotal['sumEntrerAll'] | currency:'':'' }}</span> <small> GNF</small></h2> <small>Total</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdAll'] }} cmds <i class="fa fa-level-up text-success ctn-ic-2"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-inverse ctn-vs-5" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">48% Complete</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                        <div class="single-review-st-hd">
                            <h2>Meilleurs Client</h2>
                        </div>
                        <div *ngFor="let client of infoTotal['clients']" class="single-review-st-text">
                            <img src="{{ print.printAvatar(client.avatar) }}" alt="">
                            <div class="review-ctn-hf">
                                <h3>{{ printFirstNameAndLastName(client.prenom, client.nom) }}</h3>
                                <p>{{ client.nbCmd }} commandes</p>
                            </div>
                            <div class="review-item-rating">
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star-half"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="traffic-analysis-area" id="declButton">
        <div class="container-fluid">
            <div class="row">
                <div [routerLink]="['../client/commandes/TypePayement/', 'Tranche']" routerLinkActive="router-link-active"  class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu">
                            <fa-icon [icon]="faAlignCenter" size="3x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>{{ infoTotal['nbClientTranche'] }} Clients</h3>
                            <p>Liste des pay en tranche</p>
                        </div>
                    </div>
                </div>
                <div [routerLink]="['../client/commandes/TypePayement/', 'Credit']" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu twitter-cl res-mg-t-30 table-mg-t-pro-n">
                            <fa-icon [icon]="faBraille" size="3x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>{{ infoTotal['nbClientCredit'] }} Clients</h3>
                            <p>Liste des credit clients</p>
                        </div>
                    </div>
                </div>
                <div [routerLink]="['../client/commandes/TypePayement/', 'Total']" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu linkedin-cl res-mg-t-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                            <fa-icon [icon]="faAlignJustify" size="3x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>{{ infoTotal['nbClientTotal'] }} Clients</h3>
                            <p>Fin de payement</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu youtube-cl res-mg-t-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                            <fa-icon [icon]="faDollyFlatbed" size="2x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>0 Clients</h3>
                            <p>plus d'un mois sans payer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

</div>



<div *ngIf="userService.getUserDetails().role == 'guichet'">
    <app-search-bar home="Home" title="Tableaux De Bord"></app-search-bar>
    <div class="all-content-wrapper" *ngIf="infoTotal">
        <div class="widgets-programs-area" id="decalButom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel widget-int-shape responsive-mg-b-30">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Wester Union</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <img src="assets/user/img/guichet/western.png" id="imgGuichet" alt="">
                                </div>
                                <div class="m-t-xl widget-cl-1">
                                    <h1 class="text-info">{{ caisseWester |  currency:'':'' }} <small>(GNF)</small> </h1>
                                    <hr>
                                    <p>
                                        <span><strong>Depot Jour:</strong></span> <span class="pull-right"><i><small>{{ depotDayWester |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Retrait Jour:</strong></span> <span class="pull-right"><i><small>{{ retraitDayWester |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Depot Total:</strong></span> <span class="pull-right"><i>{{ depotWester |  currency:'':'' }}</i></span><br>
                                        <span><strong>Retrait Total:</strong></span> <span class="pull-right"><i>{{ retraitWester |  currency:'':'' }}</i></span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel widget-int-shape responsive-mg-b-30">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Money Gram</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <img src="assets/user/img/guichet/money2.png" id="imgGuichet" alt="">
                                </div>
                                <div class="m-t-xl widget-cl-2">
                                    <h1 class="text-info">{{ caisseMoney |  currency:'':'' }}<small>(GNF)</small></h1>
                                    <hr>
                                    <p>
                                        <span><strong>Depot Jour:</strong></span> <span class="pull-right"><i><small>{{ depotDayMoney |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Retrait Jour:</strong></span> <span class="pull-right"><i><small>{{ retraitDayMoney |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Depot Total:</strong></span> <span class="pull-right"><i>{{ depotMoney |  currency:'':'' }}</i></span><br>
                                        <span><strong>Retrait Total:</strong></span> <span class="pull-right"><i>{{ retraitMoney |  currency:'':'' }}</i></span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel widget-int-shape responsive-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Wari</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <img src="assets/user/img/guichet/wari.jpg" id="imgGuichet" alt="">
                                </div>
                                <div class="m-t-xl widget-cl-3">
                                    <h1 class="text-info">{{ caisseWari |  currency:'':'' }}<small>(GNF)</small></h1>
                                    <hr>
                                    <p>
                                        <span><strong>Depot Jour:</strong></span> <span class="pull-right"><i><small>{{ depotDayWari |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Retrait Jour:</strong></span> <span class="pull-right"><i><small>{{ retraitDayWari |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Depot Total:</strong></span> <span class="pull-right"><i>{{ depotWari |  currency:'':'' }}</i></span><br>
                                        <span><strong>Retrait Total:</strong></span> <span class="pull-right"><i>{{ retraitWari |  currency:'':'' }}</i></span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel widget-int-shape res-tablet-mg-t-30 dk-res-t-pro-30">
                            <div class="panel-body">
                                <div class="stats-title pull-left">
                                    <h4>Total Guichet</h4>
                                </div>
                                <div class="stats-icon pull-right">
                                    <img src="assets/user/img/guichet/total.png" id="imgGuichet" alt="">
                                </div>
                                <div class="m-t-xl widget-cl-4">
                                    <h1 class="text-info">{{ TotalcaisseGuichet | currency:'':''}} <small>(GNF)</small> </h1>
                                    <hr>
                                    <p>
                                        <span><strong>Depot Jour:</strong></span> <span class="pull-right"><i><small>{{ totalDayDepot |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Retrait Jour:</strong></span> <span class="pull-right"><i><small>{{ totalDayRetrait |  currency:'':'' }}</small></i></span><br>
                                        <span><strong>Depot Total:</strong></span> <span class="pull-right"><i>{{ totalDepot |  currency:'':'' }}</i></span><br>
                                        <span><strong>Retrait Total:</strong></span> <span class="pull-right"><i>{{ totalRetrait |  currency:'':'' }}</i></span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- DEBUT HOME_PROMOTEUR -->
<div *ngIf="userService.getUserDetails().role == 'promoteur'">
    <!-- ====================START SEARCH========================== -->
    <app-search-bar home="Home" title="Tableaux De Bord"></app-search-bar>

<!-- ===================END SEARCH========================================== -->
<div class="all-content-wrapper" *ngIf="infoTotal">
  
<div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Ajout Client</h5>
                            <h2><span >{{ infoTotal['nbClients'] }}</span><span></span> <span class="tuition-fees"><button type="button" [routerLink]="['/client/add']" routerLinkActive="router-link-active"  class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Entrer Caisse <small>(GNF)</small></h5>
                            <h2><span>{{ infoTotal['totalEntrerDay'] | currency:'':'' }}</span> <span class="tuition-fees"><button type="button" [routerLink]="['/promoteur/enter/checkout']" routerLinkActive="router-link-active"  class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                        <div class="analytics-content">
                            <h5>Sortie Caisse <small>(GNF)</small></h5>
                            <h2><span>{{ infoTotal['totalSortieDay'] | currency:'':'' }}</span><span class="tuition-fees"><button type="button" [routerLink]="['/promoteur/out/checkout']" routerLinkActive="router-link-active"  class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="courses-area mg-b-15" id="decal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">Status Journaliere de l'Agence</h3>
                        <ul class="basic-list">
                            <li>Total Client <span class="pull-right label-danger label-1 label">{{ infoTotal['nbClients'] }}</span></li>
                            <li>Somme Debit Agence<span class="{{ colorCreditOM }}">{{ soldPromoteurToday | currency:'':'' }}GNF</span></li>
                            <li>Total Entrer Du Jour<span class="{{ colorCreditMoMo }}">{{ infoTotal['totalEntrerDay'] | currency:'':'' }} GNF</span></li>
                            <li>Total Sortie Du Jour<span class="{{ colorCreditST }}">{{ infoTotal['totalSortieDay'] | currency:'':'' }} GNF</span></li>
                            <li>Somme Actuelle Du Jour<span class="{{ colorCreditTransfert }}">{{ someActuJour | currency:'':'' }} GNF</span></li>
                            <li>Solde Total Caisse<span class="pull-right label-info label-4 label">{{ infoTotal['montantResult'] | currency:'':'' }} GNF</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
</div>

<div class="all-content-wrapper" *ngIf="!infoTotal">
    <div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-md-offset-5">
                    <mat-spinner></mat-spinner>  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="js-ng">

</div> -->
