<!-- ====================START SEARCH========================== -->
<div class="all-content-wrapper">
    <div class="breadcome-area">
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <form role="search" class="sr-input-func">
                                    <input type="text" placeholder="Search..." class="search-int form-control">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Tableaux De Bord</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ===================END SEARCH========================================== -->
<div class="all-content-wrapper" *ngIf="infoTotal">
  
<div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Orange Money</h5>
                            <h2><span >{{ infoTotal['sumTotalOM'] }}</span><span><small>GNF</small></span> <span class="tuition-fees"><button type="button" (click)="openDialog()" class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                            <span class="text-{{ alertOM }}">{{ infoTotal['pourcentOM'] }}%</span>
                            <div class="progress m-b-0">
                                <div class="progress-bar progress-bar-{{ alertOM }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentOM']"> <span class="sr-only">20% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Mobile Money</h5>
                            <h2><span>{{ infoTotal['sumTotalMoMo'] }}</span><small>GNF</small> <span class="tuition-fees"><button type="button" (click)="openDialogMoMo()" class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                            <span class="text-{{ alertMoMo }}">{{ infoTotal['pourcentMoMo'] }}%</span>
                            <div class="progress m-b-0">
                                <div class="progress-bar progress-bar-{{ alertMoMo }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentMoMo']"> <span class="sr-only">230% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                        <div class="analytics-content">
                            <h5>Start Times</h5>
                            <h2><span>{{ infoTotal['sumTotalST'] }}</span><small>GNF</small> <span class="tuition-fees"><button type="button" (click)="openStartTimes()" class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                            <span class="text-{{ alertST }}">{{ infoTotal['pourcentST'] }}%</span>
                            <div class="progress m-b-0">
                                <div class="progress-bar progress-bar-{{ alertST }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentST']"> <span class="sr-only">20% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                        <div class="analytics-content">
                            <h5>Transfert Credit</h5>
                            <h2><span>{{ infoTotal['sumTotalTransfert'] }}</span><small>GNF</small> <span class="tuition-fees"><button type="button" (click)="openTransfert()" class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                            <span class="text-{{ alertTransfert }}">{{ infoTotal['pourcentTransfert'] }}%</span>
                            <div class="progress m-b-0">
                                <div class="progress-bar progress-bar-{{ alertTransfert }}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentTransfert']"> <span class="sr-only">230% Complete</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="courses-area mg-b-15" id="decal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">Status de l'Agence</h3>
                        <ul class="basic-list">
                            <li>Total Client <span class="pull-right label-danger label-1 label">{{ infoTotal['nbClients'] }}</span></li>
                            <li>Total Credit OM<span class="{{ colorCreditOM }}">{{ infoTotal['sumCreditOM'] }}GNF</span></li>
                            <li>Total Credit MoMo <span class="{{ colorCreditMoMo }}">{{ infoTotal['sumCreditMoMo'] }}GNF</span></li>
                            <li>Total Credit Start Times <span class="{{ colorCreditST }}">{{ infoTotal['sumCreditST'] }}GNF</span></li>
                            <li>Total Credit Transfert <span class="{{ colorCreditTransfert }}">{{ infoTotal['sumCreditTransfert'] }}GNF</span></li>
                            <li>Total Debit Client <span class="pull-right label-purple label-6 label">A faire</span></li>
                            <li>Total Caisse <span class="pull-right label-purple label-7 label">{{ infoTotal['total'] }}GNF</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="white-box res-mg-t-30 table-mg-t-pro-n">
                        <h3 class="box-title">Entrer Caisse</h3>
                        <ul class="country-state">
                            <li [routerLink]="['/client/periodeCommande', 'today']">
                                <h2><span class="">{{ infoTotal['sumEntrerJour'] }}</span> <small>GNF</small></h2> <small>Aujaurdh'hui</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdDay'] }} cmds <i class="{{ arowDay }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentDay}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdDay']"> <span class="sr-only">75% Complete</span></div>
                                </div>
                                <!-- <hr> -->
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'week']">
                                <h2><span class="">{{ infoTotal['sumEntrerWeek'] }}</span> <small>GNF</small></h2> <small>Cette Semmaine</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdWeek'] }} cmds <i class="{{ arowWeek }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentWeek}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdWeek']"> <span class="sr-only">55% Complete</span></div>
                                </div>
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'ceMois']" routerLinkActive="router-link-active" >
                                <h2><span class="">{{ infoTotal['sumEntrerMonth'] }}</span> <small>GNF</small></h2> <small>Cet Mois</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdMonth'] }} cmds<i class="{{ arowMonth }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentMonth}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdMonth']"> <span class="sr-only">33% Complete</span></div>
                                </div>
                            </li>
                            <li [routerLink]="['/client/periodeCommande', 'year']">
                                <h2><span>{{ infoTotal['sumEntrerYear'] }}</span> <small>GNF</small></h2> <small>L'Annee</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdYear'] }} cmds <i class="{{ arowYear }}"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success ctn-vs-{{purcentYear}}" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width.%]="infoTotal['pourcentNbCmdYear']"> <span class="sr-only">60% Complete</span></div>
                                </div>
                            </li>*
                            <li [routerLink]="['/client/periodeCommande', 'all']">
                                <h2><span>{{ infoTotal['sumEntrerAll'] }}</span> <small> GNF</small></h2> <small>Total</small>
                                <div class="pull-right">{{ infoTotal['countNbCmdAll'] }} cmds <i class="fa fa-level-up text-success ctn-ic-2"></i></div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-inverse ctn-vs-5" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%;"> <span class="sr-only">48% Complete</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                        <div class="single-review-st-hd">
                            <h2>Meilleurs Client</h2>
                        </div>
                        <div *ngFor="let client of infoTotal['clients']" class="single-review-st-text">
                            <img src="{{ print.printAvatar(client.avatar) }}" alt="">
                            <div class="review-ctn-hf">
                                <h3>{{ printFirstNameAndLastName(client.prenom, client.nom) }}</h3>
                                <p>{{ client.nbCmd }} commandes</p>
                            </div>
                            <div class="review-item-rating">
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star"></i>
                                <i class="educate-icon educate-star-half"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="traffic-analysis-area" id="declButton">
        <div class="container-fluid">
            <div class="row">
                <div [routerLink]="['../client/commandes/TypePayement/', 'Tranche']" routerLinkActive="router-link-active"  class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu">
                            <fa-icon [icon]="faAlignCenter" size="3x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>{{ infoTotal['nbClientTranche'] }} Clients</h3>
                            <p>Liste des pay en tranche</p>
                        </div>
                    </div>
                </div>
                <div [routerLink]="['../client/commandes/TypePayement/', 'Credit']" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu twitter-cl res-mg-t-30 table-mg-t-pro-n">
                            <fa-icon [icon]="faBraille" size="3x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>{{ infoTotal['nbClientCredit'] }} Clients</h3>
                            <p>Liste des credit clients</p>
                        </div>
                    </div>
                </div>
                <div [routerLink]="['../client/commandes/TypePayement/', 'Total']" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu linkedin-cl res-mg-t-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                            <fa-icon [icon]="faAlignJustify" size="3x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>{{ infoTotal['nbClientTotal'] }} Clients</h3>
                            <p>Fin de payement</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="social-media-edu youtube-cl res-mg-t-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                            <fa-icon [icon]="faDollyFlatbed" size="2x"></fa-icon>
                        <div class="social-edu-ctn">
                            <h3>0 Clients</h3>
                            <p>plus d'un mois sans payer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="all-content-wrapper" *ngIf="!ok">
        <div class="analytics-sparkle-area">
            <div class="container-fluid">
                    <div class="row" >
                        <div class="col-md-offset-5">
                            <mat-spinner></mat-spinner>  
                        </div>
                    </div>
            </div>
        </div>
</div>

<!-- <script src="assets/user/js/sparkline/jquery.sparkline.min.js"></script>
<script src="assets/user/js/sparkline/jquery.charts-sparkline.js"></script>
<script src="assets/user/js/sparkline/sparkline-active.js"></script> -->