<div *ngIf="userService.getUserDetails().role == 'promoteur'">
    <!-- ====================START SEARCH========================== -->
<div class="all-content-wrapper">
    <div class="breadcome-area">
        <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcome-heading">
                                <form role="search" class="sr-input-func">
                                    <input type="text" placeholder="Search..." class="search-int form-control">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu">
                                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">Tableaux De Bord</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ===================END SEARCH========================================== -->
<div class="all-content-wrapper" *ngIf="infoTotal">
  
<div class="analytics-sparkle-area">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Ajout Client</h5>
                            <h2><span >{{ infoTotal['sumTotalOM'] | currency:'':'' }}</span><span></span> <span class="tuition-fees"><button type="button" [routerLink]="['/client/add']" routerLinkActive="router-link-active"  class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30">
                        <div class="analytics-content">
                            <h5>Entrer Caisse </h5>
                            <h2><span>{{ infoTotal['sumTotalMoMo'] | currency:'':'' }}</span> <span class="tuition-fees"><button type="button" [routerLink]="['/promoteur/enter/checkout']" routerLinkActive="router-link-active"  class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                        <div class="analytics-content">
                            <h5>Sortie Caisse</h5>
                            <h2><span>{{ infoTotal['sumTotalST'] | currency:'':'' }}</span><span class="tuition-fees"><button type="button" [routerLink]="['/promoteur/out/checkout']" routerLinkActive="router-link-active"  class="btn btn-custon-two btn-primary btn-xs">Ajouter</button></span></h2>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="courses-area mg-b-15" id="decal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">Status de l'Agence</h3>
                        <ul class="basic-list">
                            <li>Total Client <span class="pull-right label-danger label-1 label">{{ infoTotal['nbClients'] }}</span></li>
                            <li>Total Credit OM<span class="{{ colorCreditOM }}">{{ infoTotal['sumCreditOM'] | currency:'':'' }}GNF</span></li>
                            <li>Total Credit MoMo <span class="{{ colorCreditMoMo }}">{{ infoTotal['sumCreditMoMo'] | currency:'':'' }}GNF</span></li>
                            <li>Total Credit Start Times <span class="{{ colorCreditST }}">{{ infoTotal['sumCreditST'] | currency:'':'' }}GNF</span></li>
                            <li>Total Credit Espece <span class="{{ colorCreditTransfert }}">{{ infoTotal['sumCreditTransfert'] | currency:'':'' }}GNF</span></li>
                            <li>Total Debit Client <span class="pull-right label-purple label-6 label">A faire</span></li>
                            <li>Total Caisse <span class="pull-right label-purple label-7 label">{{ infoTotal['total'] | currency:'':'' }}GNF</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

</div>

<div class="all-content-wrapper" *ngIf="!ok">
    <div class="analytics-sparkle-area">
        <div class="container-fluid">
                <div class="row" >
                    <div class="col-md-offset-5">
                        <mat-spinner></mat-spinner>  
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- <div class="js-ng">

</div> -->
