<app-search-bar home="Home" title="Depot Argent"></app-search-bar>
<div class="all-content-wrapper">
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <!-- INFORMATION -->
                            <div class="card-header">
                                <h4>Depot Argent</h4>
                            </div>
                            <!-- <li><a href="#reviews"> Account Information</a></li> -->
                            <!-- <li><a href="#INFORMATION">Social Information</a></li> -->
                            <!-- <img src="../../../../api/public/images/uploads/2019-10-251572002212768téléchargement.jpg" alt=""> -->
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad">
                                                <form [formGroup]="entrerForm" (ngSubmit)="onSubmit()" >
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                            <div class="form-group">
                                                                <input formControlName="montant" [id]="getMontantSuccess() ? 'successForm' : getMontantError() ? 'errorForm' : ''" type="text" class="form-control" placeholder="Montant*">
                                                                <span *ngIf="getMontantError()" class="text text-danger"><small>{{ getMontantError() }}</small></span>
                                                            </div>

                                                            <div class="form-group res-mg-t-15">
                                                                <textarea formControlName="description" placeholder="Description"></textarea>
                                                            </div>

                                                            <div class="form-group">
                                                                <input formControlName="password" [id]="getPasswordSuccess() ? 'successNotStyl' : getPasswordError() ? 'errorForm' : ''" type="password" class="form-control" placeholder="Mot De Passe">
                                                                <span *ngIf="getPasswordError()" class="text text-danger"><small>{{ getPasswordError() }}</small></span>
                                                                <span *ngIf="!passwordIncorect && !getPasswordError()" class="text text-danger form-text text-muted"><small>Mot de passe incorect</small></span>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <button type="submit" [disabled]="entrerForm.pending || entrerForm.invalid || !etatPadding" class="btn btn-primary waves-effect waves-light" id="margin-right"> {{ !etatPadding ? 'Patienter...': 'Ajouter'}}</button>
                                                                <button type="reset"  class="btn btn-danger "> Annuler</button>
                                                                <!-- [disabled]="clientForm.pending || clientForm.invalid || !etatPadding"  -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>