#errorForm{
    border: 1px solid red;
}

#successForm{
    border: 1px solid green;
}


.abfBackground{
    /* background-image: url('../../assets/user/img/bg/bg-2.jpg'); */
    /* background-color: aquamarine; */
    background-color: #3F51B5;
}

#text{
    color: white;
}

#custumButton{
    margin-right: 5px;
}